Adaptalight/Adaptalight_nodeflows_v2.1.json
[{"id":"5464091f.991b38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2cab7ca4.3f0694","type":"serial in","z":"5464091f.991b38","name":"Arduino1","serial":"a0e240f7.406c6","x":100,"y":260,"wires":[["77faa303.5e450c","e992a8c6.b6d2d8"]]},{"id":"71b85f02.6d496","type":"debug","z":"5464091f.991b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":260,"wires":[]},{"id":"2acc52f0.93f35e","type":"comment","z":"5464091f.991b38","name":"how to connect arduino","info":"you have to give chmod 666 to /dev/USB0 to connect serial \n\nuse \nlsusb\n\nand you can also use this too\ndmesg | grep tty\n\n\n","x":180,"y":780,"wires":[]},{"id":"4d1f5bed.ca0464","type":"json","z":"5464091f.991b38","name":"","property":"payload","action":"","pretty":false,"x":310,"y":280,"wires":[["88281cff.0da27","516ca82b.6dacd8"]]},{"id":"e9ea628e.6acaf","type":"function","z":"5464091f.991b38","name":"InsertLightsensor","func":"\nfunction appendLeadingZeroes(n){\n  if(n <= 9){\n    return \"0\" + n;\n  }\n  return n;\n}\n\nlet current_datetime = new Date();\nlet nDate = current_datetime.getFullYear() + \"-\" + appendLeadingZeroes(current_datetime.getMonth() + 1) + \"-\" + appendLeadingZeroes(current_datetime.getDate());\nlet nTime = appendLeadingZeroes(current_datetime.getHours()) + \":\" + appendLeadingZeroes(current_datetime.getMinutes()) + \":\" + appendLeadingZeroes(current_datetime.getSeconds());\nlet stringDate = \"'\"+nDate+\"'\";\nlet stringTime = \"'\"+nTime+\"'\";\n\n\n\nvar ColorTemp = msg.payload.ColorTemp;\nvar Lux = msg.payload.Lux;\nvar Red = msg.payload.Red;\nvar Green = msg.payload.Green;\nvar Blue = msg.payload.Blue;\nvar White = msg.payload.White;\n\n\nvar newMsg ={};\nnewMsg.topic = \"INSERT INTO lightsensor(Date,Time,ColorTemp,Lux,Red,Green,Blue,White) VALUES(\"+ stringDate + \", \" + stringTime + \", \" + ColorTemp + \", \" + Lux + \", \" + Red + \", \" + Green +\", \" + Blue + \", \"+ White + \")\";\n//newMsg.topic= \"INSERT INTO \\`lightsensor\\` (\\`lightsensorID\\`, \\`Date\\`, \\`Time\\`, \\`ColorTemp\\`, \\`Lux\\`, \\`Red\\`, \\`Green\\`, \\`Blue\\`, \\`White\\`) VALUES (NULL, \\'2020-10-01\\', \\'11:33:30\\', \\'52\\', \\'25\\', \\'52\\', \\'25\\', \\'52\\', \\'25\\');\";\n \nreturn newMsg;   \n    \n    \n    \n//INSERT INTO lightsensor(DateTime,ColorTemp,Lux,Red,Green,Blue,White)VALUES(2020-01-01,00:01:01,60,50,40,30,20,10)\n//\"INSERT INTO lightsensor(Date,Time,ColorTemp,Lux,Red,Green,Blue,White) VALUES(\"+ stringDate + \", \" + stringTime \", \" + ColorTemp + \", \" + Lux + \", \" + Red + \", \" + Green +\", \" + Blue + \", \"+ White + \")\" }","outputs":1,"noerr":0,"x":170,"y":660,"wires":[[]]},{"id":"85b10dc2.83e1f","type":"rpi-gpio out","z":"5464091f.991b38","name":"","pin":"31","set":true,"level":"0","freq":"","out":"out","x":1340,"y":540,"wires":[]},{"id":"b299dbb9.c24c88","type":"rpi-gpio out","z":"5464091f.991b38","name":"","pin":"35","set":true,"level":"0","freq":"","out":"out","x":1340,"y":500,"wires":[]},{"id":"42777ceb.7cead4","type":"rpi-gpio out","z":"5464091f.991b38","name":"","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1340,"y":420,"wires":[]},{"id":"2edb3fbd.3ce5d","type":"rpi-gpio out","z":"5464091f.991b38","name":"","pin":"33","set":true,"level":"0","freq":"","out":"out","x":1340,"y":460,"wires":[]},{"id":"a973c18c.15f54","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":460,"wires":[["42777ceb.7cead4","2edb3fbd.3ce5d","b299dbb9.c24c88","85b10dc2.83e1f"]]},{"id":"45756386.76472c","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1150,"y":640,"wires":[["85b10dc2.83e1f"]]},{"id":"8a0cdd8c.33f58","type":"mqtt in","z":"5464091f.991b38","name":"","topic":"dev/test","qos":"2","datatype":"auto","broker":"32c79d39.858102","x":90,"y":420,"wires":[["664b6318.c026ec","5b097f3a.db38d","4ca0a261.db932c"]]},{"id":"113d8845.4276c","type":"json","z":"5464091f.991b38","name":"","property":"payload","action":"","pretty":false,"x":310,"y":420,"wires":[["c83c83ae.364c5"]]},{"id":"c9967f1b.5d6078","type":"mysql","z":"5464091f.991b38","mydb":"7f74a926.884158","name":"sensordb","x":1060,"y":340,"wires":[[]]},{"id":"1c95c2d1.8007fd","type":"function","z":"5464091f.991b38","name":"InsertQuantumSensor","func":"var date = msg.payload.date;\nvar time = msg.payload.time;\nvar mmols = msg.payload.mmol;\n\nvar newMsg = {};\n\nnewMsg.topic =  \"INSERT INTO qsensor(date,time,mmols) VALUES(\\'\"+ date + \" \\', \\' \" + time + \"\\', \\'\" + mmols + \"\\')\";\nreturn newMsg;","outputs":1,"noerr":0,"x":180,"y":700,"wires":[[]]},{"id":"93e0f26e.5d507","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":900,"wires":[[]]},{"id":"e7370978.8937e8","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":1140,"wires":[[]]},{"id":"f755e7b1.22db98","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"80","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":1180,"wires":[[]]},{"id":"6e6304fc.95616c","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":1380,"wires":[[]]},{"id":"f45cc6da.e07558","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":540,"wires":[[]]},{"id":"c7127c7b.d5dfd","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":1100,"wires":[[]]},{"id":"90ee7db2.940f2","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":1060,"wires":[[]]},{"id":"3bd0ac86.4437a4","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":1020,"wires":[[]]},{"id":"aeb25cd7.8f97d","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":980,"wires":[[]]},{"id":"35402ea9.1fefc2","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"12","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":940,"wires":[[]]},{"id":"f529ce28.88df6","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"9","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":860,"wires":[[]]},{"id":"7920e369.1f401c","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":780,"wires":[[]]},{"id":"c9bd4801.4e5e88","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":820,"wires":[[]]},{"id":"eebe74a9.bc8508","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":740,"wires":[[]]},{"id":"5765afba.8c80d","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":700,"wires":[[]]},{"id":"9a4714ba.4114a8","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":620,"wires":[[]]},{"id":"3eaa0efb.f5a442","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":660,"wires":[[]]},{"id":"14a78bbe.427d64","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":580,"wires":[[]]},{"id":"f419afaf.ee30c","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":540,"wires":[[]]},{"id":"574012dc.8c35cc","type":"comment","z":"5464091f.991b38","name":"Diya","info":"","x":1470,"y":540,"wires":[]},{"id":"89f926a4.f50968","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1090,"y":560,"wires":[["b299dbb9.c24c88"]]},{"id":"453a933b.feea1c","type":"comment","z":"5464091f.991b38","name":"Dimmer Light","info":"","x":1490,"y":500,"wires":[]},{"id":"e68a7184.56fbd8","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"93","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":1300,"wires":[[]]},{"id":"399b602a.4cb6d","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":1260,"wires":[[]]},{"id":"ce09f3b8.d6bd08","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"95","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":1340,"wires":[[]]},{"id":"c83c83ae.364c5","type":"join","z":"5464091f.991b38","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":450,"y":340,"wires":[["90dc8f6b.0b60e"]]},{"id":"664b6318.c026ec","type":"link out","z":"5464091f.991b38","name":"Flow2","links":["e1cd5eab.ac024"],"x":35,"y":480,"wires":[]},{"id":"77faa303.5e450c","type":"link out","z":"5464091f.991b38","name":"Flow2","links":["2374b919.5f97b6"],"x":55,"y":200,"wires":[]},{"id":"e992a8c6.b6d2d8","type":"delay","z":"5464091f.991b38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":320,"wires":[["4d1f5bed.ca0464"]]},{"id":"5b097f3a.db38d","type":"delay","z":"5464091f.991b38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":360,"wires":[["113d8845.4276c"]]},{"id":"90dc8f6b.0b60e","type":"rbe","z":"5464091f.991b38","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.mmol","x":570,"y":340,"wires":[["71b85f02.6d496","d3dd5938.063728"]]},{"id":"17a87ea1.f1a911","type":"comment","z":"5464091f.991b38","name":"SQL Insert statements","info":"","x":180,"y":620,"wires":[]},{"id":"6bb01e9.07580e","type":"function","z":"5464091f.991b38","name":"InsertCombinedSenors","func":"  var date = msg.payload.date;\n  var time = msg.payload.time;\n  var mmols = msg.payload.mmol;\n  \n  var ColorTemp = msg.payload.ColorTemp;\n  var Lux = msg.payload.Lux;\n  var Red = msg.payload.Red;\n  var Green = msg.payload.Green;\n  var Blue = msg.payload.Blue;\n  var White = msg.payload.White;\n  \n  \n                                                                                            \n\n  var newMsg ={};                                                                              \n  newMsg.topic = \"INSERT INTO fullSensor(Date,Time,mmols,ColorTemp,Lux,Red,Green,Blue,White)  VALUES(\\'\"+ date + \" \\', \\' \" + time + \"\\', \\'\" + mmols + \"\\', \" + ColorTemp + \", \" + Lux + \", \" + Red + \", \" + Green +\", \" + Blue + \", \"+ White + \")\";\n  //newMsg.topic= \"INSERT INTO \\`lightsensor\\` (\\`lightsensorID\\`, \\`Date\\`, \\`Time\\`, \\`ColorTemp\\`, \\`Lux\\`, \\`Red\\`, \\`Green\\`, \\`Blue\\`, \\`White\\`) VALUES (NULL, \\'2020-10-01\\', \\'11:33:30\\', \\'52\\', \\'25\\', \\'52\\', \\'25\\', \\'52\\', \\'25\\');\";\n   \n  return newMsg;   \n","outputs":1,"noerr":0,"x":180,"y":740,"wires":[[]]},{"id":"94d709e6.f52a48","type":"debug","z":"5464091f.991b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":280,"wires":[]},{"id":"4ca0a261.db932c","type":"debug","z":"5464091f.991b38","name":"Quantum","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":250,"y":520,"wires":[]},{"id":"4e419be.6c65564","type":"debug","z":"5464091f.991b38","name":"Arduino","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":200,"wires":[]},{"id":"88281cff.0da27","type":"function","z":"5464091f.991b38","name":"RGBWToMmol","func":"  function round(value, decimals) {\n    return Number(Math.round(value+'e'+decimals)+'e-'+decimals);\n    }\n  \n  var Red = msg.payload.Red * 1;\n  var Green = msg.payload.Green * 1;\n  var Blue = msg.payload.Blue * 1;\n  var White = msg.payload.White * 1;\n\n//From 100 Observations all 2 for every 10 mmols \n  var redCo = -0.004;\n  var greenCo = 0.002;\n  var blueCo = 0.006;\n  var whiteCo = 0.000;\n \n \n \n//From 10000 observations mostly Dark\n//var redCo = -0.0015;\n//var greenCo = 0.0018;\n//var blueCo = 0.0043;\n//var whiteCo = 0.0005;\n  \n  var newMsg ={}; \n  var convertMmol = Red*redCo+Green*greenCo+Blue*blueCo+White*whiteCo;\n  var roundMmol = round(convertMmol, 1);\n  \n  newMsg.topic = \"WRGBMmol\"                                                                                \n  newMsg.payload = \"{\\\"WRGBMmol\\\":\"+ roundMmol + \"}\";\n  return newMsg;   \n\n","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["df94400.1a4bec"]]},{"id":"df94400.1a4bec","type":"json","z":"5464091f.991b38","name":"","property":"payload","action":"","pretty":false,"x":610,"y":200,"wires":[["4e419be.6c65564","c83c83ae.364c5","f633fb84.5738a8"]]},{"id":"d3dd5938.063728","type":"function","z":"5464091f.991b38","name":"InsertCalibrateTable","func":"\n  var date = msg.payload.date;\n  var time = msg.payload.time;\n  var mmols = msg.payload.mmol;\n  var WRGBMmols = msg.payload.WRGBMmol;\n  var RGBMmols = msg.payload.RGBMmol;\n\n\n                                                                                             \n\n  var newMsg ={};                                                                              \n  newMsg.topic = \"INSERT INTO calibrateTable(Date,Time,mmols,WRGBMmols,RGBMmols)  VALUES(\\'\"+ date + \" \\', \\' \" + time + \"\\', \\'\" + mmols + \"\\', \" + WRGBMmols + \", \" + RGBMmols + \")\";\n  \n  return newMsg; ","outputs":1,"noerr":0,"x":760,"y":340,"wires":[["94d709e6.f52a48","c9967f1b.5d6078"]]},{"id":"516ca82b.6dacd8","type":"function","z":"5464091f.991b38","name":"RGBMmols","func":"  function round(value, decimals) {\n    return Number(Math.round(value+'e'+decimals)+'e-'+decimals);\n    }\n  \n  var Red = msg.payload.Red * 1;\n  var Green = msg.payload.Green * 1;\n  var Blue = msg.payload.Blue * 1;\n // var White = msg.payload.White * 1;\n  \n  //Done with 100 observations\n  var redCo = -0.005;\n  var greenCo = -0.002;\n  var blueCo = 0.012;\n  //var whiteCo = 0.0005;\n  \n  var newMsg ={}; \n  var convertMmol = Red*redCo+Green*greenCo+Blue*blueCo;\n  var roundMmol = round(convertMmol, 1);\n  \n  newMsg.topic = \"RGBMmol\"                                                                               \n  newMsg.payload = \"{\\\"RGBMmol\\\":\" + roundMmol + \"}\";\n  return newMsg;   \n\n","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["df94400.1a4bec"]]},{"id":"f633fb84.5738a8","type":"debug","z":"5464091f.991b38","name":"RGB-Mmol","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":80,"wires":[]},{"id":"c589fce1.aba52","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":80,"wires":[["f633fb84.5738a8"]]},{"id":"9d6c6d31.ab2b7","type":"rpi-gpio out","z":"5464091f.991b38","name":"","pin":"3","set":"","level":"0","freq":"100","out":"pwm","x":990,"y":940,"wires":[]},{"id":"a0e240f7.406c6","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"32c79d39.858102","type":"mqtt-broker","z":"","name":"QuantumSensor","broker":"192.168.0.150","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7f74a926.884158","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sensordb","tz":"","charset":"UTF8"}]