Adaptalight/Adaptalight_nodeflows_v2.1.7.json
[{"id":"5464091f.991b38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5203fa5f.0fe304","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"31793bcb.c20d44","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8ff68355.e84b3","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a0e240f7.406c6","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ddfcdbe5.f222e8","type":"sqlitedb","db":"/home/osboxes/MyDB/TestNode","mode":"RWC"},{"id":"32c79d39.858102","type":"mqtt-broker","name":"QuantumSensor","broker":"192.168.0.150","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8c9d914c.5ef51","type":"serial-port","serialport":"/dev/ttyUSB1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"7f74a926.884158","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"sensordb","tz":"","charset":"UTF8"},{"id":"25c3d116.f33d46","type":"ioplugin","name":"","username":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"local","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","uuid":"","token":"","sendUuid":"","samplingInterval":"500"},{"id":"f3e990fa.e34df","type":"mqtt-broker","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2cab7ca4.3f0694","type":"serial in","z":"5464091f.991b38","name":"Arduino1","serial":"a0e240f7.406c6","x":120,"y":520,"wires":[["77faa303.5e450c","4d1f5bed.ca0464"]]},{"id":"2acc52f0.93f35e","type":"comment","z":"5464091f.991b38","name":"how to connect arduino","info":"you have to give chmod 666 to /dev/USB0 to connect serial \n\nuse \nlsusb\n\nand you can also use this too\ndmesg | grep tty\n\n\n","x":380,"y":1000,"wires":[]},{"id":"4d1f5bed.ca0464","type":"json","z":"5464091f.991b38","name":"","property":"payload","action":"","pretty":false,"x":270,"y":520,"wires":[["88281cff.0da27","516ca82b.6dacd8","e65fbbe7.882e98","fb0524c1.4c3168"]]},{"id":"e9ea628e.6acaf","type":"function","z":"5464091f.991b38","name":"InsertLightsensor","func":"\nfunction appendLeadingZeroes(n){\n  if(n <= 9){\n    return \"0\" + n;\n  }\n  return n;\n}\n\nlet current_datetime = new Date();\nlet nDate = current_datetime.getFullYear() + \"-\" + appendLeadingZeroes(current_datetime.getMonth() + 1) + \"-\" + appendLeadingZeroes(current_datetime.getDate());\nlet nTime = appendLeadingZeroes(current_datetime.getHours()) + \":\" + appendLeadingZeroes(current_datetime.getMinutes()) + \":\" + appendLeadingZeroes(current_datetime.getSeconds());\nlet stringDate = \"'\"+nDate+\"'\";\nlet stringTime = \"'\"+nTime+\"'\";\n\n\n\nvar ColorTemp = msg.payload.ColorTemp;\nvar Lux = msg.payload.Lux;\nvar Red = msg.payload.Red;\nvar Green = msg.payload.Green;\nvar Blue = msg.payload.Blue;\nvar White = msg.payload.White;\n\n\nvar newMsg ={};\nnewMsg.topic = \"INSERT INTO lightsensor(Date,Time,ColorTemp,Lux,Red,Green,Blue,White) VALUES(\"+ stringDate + \", \" + stringTime + \", \" + ColorTemp + \", \" + Lux + \", \" + Red + \", \" + Green +\", \" + Blue + \", \"+ White + \")\";\n//newMsg.topic= \"INSERT INTO \\`lightsensor\\` (\\`lightsensorID\\`, \\`Date\\`, \\`Time\\`, \\`ColorTemp\\`, \\`Lux\\`, \\`Red\\`, \\`Green\\`, \\`Blue\\`, \\`White\\`) VALUES (NULL, \\'2020-10-01\\', \\'11:33:30\\', \\'52\\', \\'25\\', \\'52\\', \\'25\\', \\'52\\', \\'25\\');\";\n \nreturn newMsg;   \n    \n    \n    \n//INSERT INTO lightsensor(DateTime,ColorTemp,Lux,Red,Green,Blue,White)VALUES(2020-01-01,00:01:01,60,50,40,30,20,10)\n//\"INSERT INTO lightsensor(Date,Time,ColorTemp,Lux,Red,Green,Blue,White) VALUES(\"+ stringDate + \", \" + stringTime \", \" + ColorTemp + \", \" + Lux + \", \" + Red + \", \" + Green +\", \" + Blue + \", \"+ White + \")\" }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":880,"wires":[[]]},{"id":"8a0cdd8c.33f58","type":"mqtt in","z":"5464091f.991b38","name":"","topic":"dev/test","qos":"2","datatype":"auto","broker":"32c79d39.858102","x":110,"y":620,"wires":[["664b6318.c026ec","113d8845.4276c"]]},{"id":"113d8845.4276c","type":"json","z":"5464091f.991b38","name":"","property":"payload","action":"","pretty":false,"x":230,"y":620,"wires":[["c83c83ae.364c5","7dacad0f.9926c4","fb0524c1.4c3168"]]},{"id":"1c95c2d1.8007fd","type":"function","z":"5464091f.991b38","name":"InsertQuantumSensor","func":"var date = msg.payload.date;\nvar time = msg.payload.time;\nvar mmols = msg.payload.mmol;\n\nvar newMsg = {};\n\nnewMsg.topic =  \"INSERT INTO qsensor(date,time,mmols) VALUES(\\'\"+ date + \" \\', \\' \" + time + \"\\', \\'\" + mmols + \"\\')\";\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":920,"wires":[[]]},{"id":"c83c83ae.364c5","type":"join","z":"5464091f.991b38","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":710,"y":520,"wires":[["f53acda9.5d26a","f633fb84.5738a8"]]},{"id":"664b6318.c026ec","type":"link out","z":"5464091f.991b38","name":"Flow2","links":["e1cd5eab.ac024","89fde978.7e7f28"],"x":75,"y":620,"wires":[]},{"id":"77faa303.5e450c","type":"link out","z":"5464091f.991b38","name":"Flow2","links":["2374b919.5f97b6","dfd031a1.63a6"],"x":75,"y":520,"wires":[]},{"id":"2374b919.5f97b6","type":"link in","z":"5203fa5f.0fe304","name":"","links":["77faa303.5e450c"],"x":115,"y":80,"wires":[["10898ad8.ae95a5"]]},{"id":"e1cd5eab.ac024","type":"link in","z":"5203fa5f.0fe304","name":"","links":["664b6318.c026ec"],"x":115,"y":180,"wires":[["95c4a553.8daee8"]]},{"id":"a2880425.097608","type":"debug","z":"5203fa5f.0fe304","name":"Testing Inputs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":60,"wires":[]},{"id":"10898ad8.ae95a5","type":"json","z":"5203fa5f.0fe304","name":"","property":"payload","action":"","pretty":false,"x":410,"y":80,"wires":[["4b9be4e.4336d1c"]]},{"id":"95c4a553.8daee8","type":"json","z":"5203fa5f.0fe304","name":"","property":"payload","action":"","pretty":false,"x":410,"y":180,"wires":[["4b9be4e.4336d1c"]]},{"id":"4b9be4e.4336d1c","type":"join","z":"5203fa5f.0fe304","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":600,"y":140,"wires":[["2b021ec9.f6cb32"]]},{"id":"17a87ea1.f1a911","type":"comment","z":"5464091f.991b38","name":"SQL Insert statements","info":"","x":380,"y":840,"wires":[]},{"id":"f155a9ef.4c24a8","type":"rpi-gpio out","z":"5203fa5f.0fe304","name":"","pin":"12","set":"","level":"0","freq":"","out":"out","x":480,"y":360,"wires":[]},{"id":"ce574173.ca25c8","type":"inject","z":"5203fa5f.0fe304","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":190,"y":360,"wires":[["f155a9ef.4c24a8","b9807b6f.36645"]]},{"id":"61de05b.b1c26fc","type":"inject","z":"5203fa5f.0fe304","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":420,"wires":[["b9807b6f.36645","f155a9ef.4c24a8"]]},{"id":"b9807b6f.36645","type":"rpi-gpio out","z":"5203fa5f.0fe304","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":480,"y":420,"wires":[]},{"id":"4ca0a261.db932c","type":"debug","z":"5464091f.991b38","name":"Quantum","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":720,"wires":[]},{"id":"88281cff.0da27","type":"function","z":"5464091f.991b38","name":"RGBWToMmol","func":"  function round(value, decimals) {\n    return Number(Math.round(value+'e'+decimals)+'e-'+decimals);\n    }\n  \n  var Red = msg.payload.Red * 1;\n  var Green = msg.payload.Green * 1;\n  var Blue = msg.payload.Blue * 1;\n  var White = msg.payload.White * 1;\n\n//From 100 Observations all 2 for every 10 mmols  \n  var alpha = 9.180;\n  var redCo = -0.004;\n  var greenCo = 0.002;\n  var blueCo = 0.006;\n  var whiteCo = 0.000;\n \n \n \n//From 10000 observations mostly Dark\n//var redCo = -0.0015;\n//var greenCo = 0.0018;\n//var blueCo = 0.0043;\n//var whiteCo = 0.0005;\n  \n  var newMsg ={}; \n  var convertMmol = alpha-Red*redCo+Green*greenCo+Blue*blueCo+White*whiteCo;\n  var roundMmol = round(convertMmol, 1);\n  \n  newMsg.topic = \"WRGBMmol\"                                                                                \n  newMsg.payload = \"{\\\"WRGBMmol\\\":\"+ roundMmol + \"}\";\n  return newMsg;   \n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":440,"wires":[["df94400.1a4bec"]]},{"id":"df94400.1a4bec","type":"json","z":"5464091f.991b38","name":"","property":"payload","action":"","pretty":false,"x":710,"y":440,"wires":[["c83c83ae.364c5","b37f4e49.07281"]]},{"id":"d3dd5938.063728","type":"function","z":"5464091f.991b38","name":"InsertCalibrateTable","func":"\n  var date = msg.payload.date;\n  var time = msg.payload.time;\n  var mmols = msg.payload.mmol;\n  var WRGBMmols = msg.payload.WRGBMmol;\n  var RGBMmols = msg.payload.RGBMmol;\n\n\n                                                                                             \n\n  var newMsg ={};                                                                              \n  newMsg.topic = \"INSERT INTO calibrateTable(Date,Time,mmols,WRGBMmols,RGBMmols)  VALUES(\\'\"+ date + \" \\', \\' \" + time + \"\\', \\'\" + mmols + \"\\', \" + WRGBMmols + \", \" + RGBMmols + \")\";\n  \n  return newMsg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":500,"wires":[[]]},{"id":"516ca82b.6dacd8","type":"function","z":"5464091f.991b38","name":"RGBMmols","func":"  function round(value, decimals) {\n    return Number(Math.round(value+'e'+decimals)+'e-'+decimals);\n    }\n  \n  var Red = msg.payload.Red * 1;\n  var Green = msg.payload.Green * 1;\n  var Blue = msg.payload.Blue * 1;\n // var White = msg.payload.White * 1;\n  \n  //Done with 100 observations\n  var alpha = 13.030;\n  var redCo = -0.005;\n  var greenCo = -0.002;\n  var blueCo = 0.012;\n  //var whiteCo = 0.0005;\n  \n  var newMsg ={}; \n  var convertMmol = alpha-Red*redCo+Green*greenCo+Blue*blueCo;\n  var roundMmol = round(convertMmol, 1);\n  \n  newMsg.topic = \"RGBMmol\"                                                                               \n  newMsg.payload = \"{\\\"RGBMmol\\\":\" + roundMmol + \"}\";\n  return newMsg;   \n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":400,"wires":[["df94400.1a4bec"]]},{"id":"f633fb84.5738a8","type":"debug","z":"5464091f.991b38","name":"RGB-Mmol","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":560,"wires":[]},{"id":"db8b1809.adc8a8","type":"rpi-gpio out","z":"5203fa5f.0fe304","name":"","pin":"31","set":true,"level":"0","freq":"","out":"out","x":1040,"y":480,"wires":[]},{"id":"2c5c9ac3.898d26","type":"rpi-gpio out","z":"5203fa5f.0fe304","name":"","pin":"35","set":true,"level":"0","freq":"","out":"out","x":1040,"y":440,"wires":[]},{"id":"cf7bb87a.0832b8","type":"rpi-gpio out","z":"5203fa5f.0fe304","name":"","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1040,"y":360,"wires":[]},{"id":"65e2010e.24c22","type":"rpi-gpio out","z":"5203fa5f.0fe304","name":"","pin":"33","set":true,"level":"0","freq":"","out":"out","x":1040,"y":400,"wires":[]},{"id":"7f7e15b.d4230ec","type":"inject","z":"5203fa5f.0fe304","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":730,"y":400,"wires":[["cf7bb87a.0832b8","65e2010e.24c22","2c5c9ac3.898d26","db8b1809.adc8a8"]]},{"id":"e72ce50a.8b3bb8","type":"inject","z":"5203fa5f.0fe304","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":730,"y":520,"wires":[["db8b1809.adc8a8"]]},{"id":"bf65d0bf.bde3a","type":"inject","z":"5203fa5f.0fe304","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":310,"y":560,"wires":[["e487db67.20b7e8"]]},{"id":"310b1cd3.52ffb4","type":"inject","z":"5203fa5f.0fe304","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":310,"y":640,"wires":[["e487db67.20b7e8"]]},{"id":"dc425ca4.7d6d8","type":"inject","z":"5203fa5f.0fe304","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"80","payloadType":"num","x":310,"y":680,"wires":[["e487db67.20b7e8"]]},{"id":"b05316ba.83ed98","type":"inject","z":"5203fa5f.0fe304","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":310,"y":720,"wires":[["e487db67.20b7e8"]]},{"id":"94d5a7f1.f4e1e8","type":"inject","z":"5203fa5f.0fe304","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":310,"y":600,"wires":[["e487db67.20b7e8"]]},{"id":"bc45e731.ca4248","type":"inject","z":"5203fa5f.0fe304","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":310,"y":520,"wires":[["e487db67.20b7e8"]]},{"id":"5181e5c.0b7dd1c","type":"comment","z":"5203fa5f.0fe304","name":"Diya","info":"","x":1170,"y":480,"wires":[]},{"id":"6e0f59af.37e978","type":"inject","z":"5203fa5f.0fe304","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":730,"y":460,"wires":[["2c5c9ac3.898d26"]]},{"id":"390a36a5.017f4a","type":"comment","z":"5203fa5f.0fe304","name":"Dimmer Light","info":"","x":1190,"y":440,"wires":[]},{"id":"e487db67.20b7e8","type":"rpi-gpio out","z":"5203fa5f.0fe304","name":"","pin":"3","set":"","level":"0","freq":"120","out":"pwm","x":470,"y":600,"wires":[]},{"id":"5b097f3a.db38d","type":"delay","z":"5464091f.991b38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":940,"y":500,"wires":[["d3dd5938.063728"]]},{"id":"a478d27.189dc3","type":"comment","z":"5464091f.991b38","name":"Input from sensors","info":"# Input Section\n\nThis is the input from both the Arduino and the MQTT server\n\nMQTT information to connect to server running on Asus Stick is \nUsername: testnode\nPassword: admin","x":130,"y":460,"wires":[]},{"id":"2b021ec9.f6cb32","type":"function","z":"5203fa5f.0fe304","name":"InsertCombinedSenors","func":"  var date = msg.payload.date;\n  var time = msg.payload.time;\n  var mmols = msg.payload.mmol;\n  \n  var ColorTemp = msg.payload.ColorTemp;\n  var Lux = msg.payload.Lux;\n  var Red = msg.payload.Red;\n  var Green = msg.payload.Green;\n  var Blue = msg.payload.Blue;\n  var White = msg.payload.White;\n  \n  \n                                                                                            \n  var newMsg ={};\n  \n  var msgTest = {};\n  var testString = \"INSERT INTO fullSensor(Date,Time,mmols,ColorTemp,Lux,Red,Green,Blue,White) VALUES(\\'\"+ date + \"\\', \\'\" + time + \"\\', \\'\" + mmols + \"\\', \" + ColorTemp + \", \" + Lux + \", \" + Red + \", \" + Green +\", \" + Blue + \", \"+ White + \")\";\n  msgTest.topic = testString;\n \n  \n  //newMsg.topic = \"INSERT INTO fullSensor(Date,Time,mmols,ColorTemp,Lux,Red,Green,Blue,White) VALUES(\\'\"+ date + \" \\', \\'\" + time + \"\\', \\'\" + mmols + \"\\', \" + ColorTemp + \", \" + Lux + \", \" + Red + \", \" + Green +\", \" + Blue + \", \"+ White + \")\";\n  //newMsg.topic= \"INSERT INTO \\`lightsensor\\` (\\`lightsensorID\\`, \\`Date\\`, \\`Time\\`, \\`ColorTemp\\`, \\`Lux\\`, \\`Red\\`, \\`Green\\`, \\`Blue\\`, \\`White\\`) VALUES (NULL, \\'2020-10-01\\', \\'11:33:30\\', \\'52\\', \\'25\\', \\'52\\', \\'25\\', \\'52\\', \\'25\\');\";\n   \n  //return newMsg;   \n \n  return msgTest; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":140,"wires":[["a2880425.097608","eb291e94.ec9e4"]]},{"id":"20b347ba.74ee08","type":"function","z":"5464091f.991b38","name":"InsertCombinedSenors","func":"  var date = msg.payload.date;\n  var time = msg.payload.time;\n  var mmols = msg.payload.mmol;\n  \n  var ColorTemp = msg.payload.ColorTemp;\n  var Lux = msg.payload.Lux;\n  var Red = msg.payload.Red;\n  var Green = msg.payload.Green;\n  var Blue = msg.payload.Blue;\n  var White = msg.payload.White;\n  \n  \n                                                                                            \n  var newMsg ={};\n  newMsg.topic = \"INSERT INTO fullSensor(Date,Time,mmols,ColorTemp,Lux,Red,Green,Blue,White) VALUES(\\'\"+ date + \" \\', \\'\" + time + \"\\', \\'\" + mmols + \"\\', \" + ColorTemp + \", \" + Lux + \", \" + Red + \", \" + Green +\", \" + Blue + \", \"+ White + \")\";\n  //newMsg.topic= \"INSERT INTO \\`lightsensor\\` (\\`lightsensorID\\`, \\`Date\\`, \\`Time\\`, \\`ColorTemp\\`, \\`Lux\\`, \\`Red\\`, \\`Green\\`, \\`Blue\\`, \\`White\\`) VALUES (NULL, \\'2020-10-01\\', \\'11:33:30\\', \\'52\\', \\'25\\', \\'52\\', \\'25\\', \\'52\\', \\'25\\');\";\n   \n  return newMsg;   \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":960,"wires":[[]]},{"id":"eb291e94.ec9e4","type":"delay","z":"5203fa5f.0fe304","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1130,"y":140,"wires":[["9ffa396c.993d78"]]},{"id":"9ffa396c.993d78","type":"mysql","z":"5203fa5f.0fe304","mydb":"7f74a926.884158","name":"","x":1360,"y":140,"wires":[[]]},{"id":"b37f4e49.07281","type":"debug","z":"5464091f.991b38","name":"New Test","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":440,"wires":[]},{"id":"fb0524c1.4c3168","type":"debug","z":"5464091f.991b38","name":"Before","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":740,"wires":[]},{"id":"32b6e116.c1312e","type":"change","z":"5464091f.991b38","name":"","rules":[{"t":"set","p":"pwm","pt":"flow","to":"18","tot":"num"},{"t":"set","p":"SuperSetMmols","pt":"flow","to":"150","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":280,"wires":[[]]},{"id":"e03417e9.dfb048","type":"inject","z":"5464091f.991b38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["32b6e116.c1312e"]]},{"id":"6909f83.54e3508","type":"comment","z":"5464091f.991b38","name":"pwm global variables","info":"This is will set the PWM to zero in the \nflow.get(\"pwm\");\n\nEvery time the time stamp is injected it will set a global variable that is accessible \nthrough the \nflow.get(\"pwm\");\n\nand writable through the \nflow.set(\"pwm\", value to set it to);\n\nThis is also the temporary place for setting the mmol threshold it is done in the SuperSetMmols\n\nusing the same commands ","x":270,"y":220,"wires":[]},{"id":"e65fbbe7.882e98","type":"function","z":"5464091f.991b38","name":"RGBWToMmol-10K","func":"  function round(value, decimals) {\n    return Number(Math.round(value+'e'+decimals)+'e-'+decimals);\n    }\n  \n  var Red = msg.payload.Red * 1;\n  var Green = msg.payload.Green * 1;\n  var Blue = msg.payload.Blue * 1;\n  var White = msg.payload.White * 1;\n\n\n//From 10000 observations mostly Dark\nvar alpha = 0.109;\nvar redCo = -0.0015;\nvar greenCo = 0.0018;\nvar blueCo = 0.0043;\nvar whiteCo = 0.0005;\n  \n  var newMsg ={}; \n  var convertMmol = alpha-Red*redCo+Green*greenCo+Blue*blueCo+White*whiteCo;\n  var roundMmol = round(convertMmol, 1);\n  \n  newMsg.topic = \"WRGBMmol10k\"                                                                                \n  newMsg.payload = \"{\\\"WRGBMmol10k\\\":\"+ roundMmol + \"}\";\n  return newMsg;   \n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":480,"wires":[["df94400.1a4bec"]]},{"id":"7dacad0f.9926c4","type":"function","z":"5464091f.991b38","name":"DimFastPWM-v2.1","func":"//obj = JSON.parse(msg.payload); //parses incoming payload to a JSON without the JSON node.\n//Then we use the object to assign to the variables below.\n//var mmols = obj.mmol;\n\nvar mmols = msg.payload.mmol;\nvar SetMmols = flow.get(\"SuperSetMmols\"); //this is the setting for the target mmols\nvar myPwm = flow.get(\"pwm\"); // This is the current setting for the pwm set inside\nlet differingMmols = 0;\n\nif (mmols>SetMmols)\n{ //if the current mmols are brighter than our setting\n    differingMmols = mmols - SetMmols;\n    if(differingMmols>10) //this will adjust faster\n        {// It will take every 3 pwm = 1 mmol and give a quick  adjust\n          myPwm = myPwm + Math.round(differingMmols * .33);\n          flow.set(\"pwm\", myPwm);\n        }\n    else //This is the normal minor adjustments.\n        {\n          myPwm = myPwm + 1; //if not then add one to the pwm\n          flow.set(\"pwm\", myPwm);\n        }\n    if (myPwm>=255) //Then test to make no number greater than 255 is sent\n        {\n          myPwm = 255; //If the number is larger it will send 255\n          flow.set(\"pwm\", myPwm);\n        }\n}\n//if (mmols<SetMmols){\nelse{  // if the current mmols are dimmer than the setting\n    differingMmols = SetMmols - mmols;\n    if(differingMmols>10) //this will adjust faster\n        {// It will take every 3 pwm = 1 mmol and give a quick  adjust\n          myPwm = myPwm - Math.round(differingMmols * .33);\n          flow.set(\"pwm\", myPwm);\n        }\n    else{\n          myPwm = myPwm - 1;\n          flow.set(\"pwm\", myPwm);\n        }\n    if (myPwm<=0)\n        {\n          myPwm = 0;\n          flow.set(\"pwm\", myPwm);\n        }\n}\n\nvar newMsg = {};\nvar newMsg2 = {}; // This is the object to write the PWM setting to the DB\nnewMsg.payload = myPwm;\n//Line below is for testing the output of the node\n//newMsg.payload = \"{\\\"pwm\\\":\"+ myPwm + \",\\\"SuperMmols\\\":\" + SetMmols + \",\\\"InMols\\\":\" + mmols +\"}\";\n//This object is the 2nd output of the node and goes to the function that writes to the DB\nnewMsg2.payload = \"{\\\"PWM\\\":\"+ myPwm +\"}\";\n\nreturn [newMsg, newMsg2];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":470,"y":640,"wires":[["4ca0a261.db932c","99147176.56b4e"],["62be4e3c.76888"]]},{"id":"99147176.56b4e","type":"serial out","z":"5464091f.991b38","name":"","serial":"8ff68355.e84b3","x":860,"y":640,"wires":[]},{"id":"62be4e3c.76888","type":"json","z":"5464091f.991b38","name":"json","property":"payload","action":"","pretty":true,"x":570,"y":580,"wires":[["c83c83ae.364c5"]]},{"id":"4d29afbd.c70f8","type":"function","z":"5464091f.991b38","name":"DimFastPWM-v2","func":"//obj = JSON.parse(msg.payload); //parses incoming payload to a JSON without the JSON node.\n//Then we use the object to assign to the variables below.\n//var mmols = obj.mmol;\n\nvar mmols = msg.payload.mmol;\nvar SetMmols = flow.get(\"SuperSetMmols\"); //this is the setting for the target mmols\nvar myPwm = flow.get(\"pwm\"); // This is the current setting for the pwm set inside\nlet differingMmols = 0;\n\nif (mmols>SetMmols)\n{ //if the current mmols are brighter than our setting\n    differingMmols = mmols - SetMmols;\n    if(differingMmols>10) //this will adjust faster\n        {// It will take every 3 pwm = 1 mmol and give a quick  adjust\n          myPwm = myPwm + Math.round(differingMmols * .33);\n          flow.set(\"pwm\", myPwm);\n        }\n    else //This is the normal minor adjustments.\n        {\n          myPwm = myPwm + 1; //if not then add one to the pwm\n          flow.set(\"pwm\", myPwm);\n        }\n    if (myPwm>=255) //Then test to make no number greater than 255 is sent\n        {\n          myPwm = 255; //If the number is larger it will send 255\n          flow.set(\"pwm\", myPwm);\n        }\n}\n//if (mmols<SetMmols){\nelse{  // if the current mmols are dimmer than the setting\n    differingMmols = SetMmols - mmols;\n    if(differingMmols>10) //this will adjust faster\n        {// It will take every 3 pwm = 1 mmol and give a quick  adjust\n          myPwm = myPwm - Math.round(differingMmols * .33);\n          flow.set(\"pwm\", myPwm);\n        }\n    else{\n          myPwm = myPwm - 1;\n          flow.set(\"pwm\", myPwm);\n        }\n    if (myPwm<=0)\n        {\n          myPwm = 0;\n          flow.set(\"pwm\", myPwm);\n        }\n}\n\nvar newMsg = {};\nnewMsg.payload = myPwm;\n//Line below is for testing the output of the node\n//newMsg.payload = \"{\\\"pwm\\\":\"+ myPwm + \",\\\"SuperMmols\\\":\" + SetMmols + \",\\\"InMols\\\":\" + mmols +\"}\";\n\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":880,"wires":[[]]},{"id":"bfc45d8b.2b1e2","type":"comment","z":"5464091f.991b38","name":"Data Transformation Functions","info":"DimFast v2 vs 2.1 \n2.1 has an extra output for a JSON object of the PWM setting. ","x":630,"y":840,"wires":[]},{"id":"5d0f477.afbdfb8","type":"function","z":"5203fa5f.0fe304","name":"InsertCombinedSensorPWM","func":"var date = msg.payload.date;\nvar time = msg.payload.time;\nvar mmols = msg.payload.mmol;\nvar WRGBMmols = msg.payload.WRGBMmol;\nvar RGBMmols = msg.payload.RGBMmol;\nvar WRGBMmols10K = msg.payload.WRGBMmol10k;\nvar PWM = msg.payload.PWM;\n                                                                                             \n\nvar newMsg ={};                                                                           \nnewMsg.topic = \"INSERT INTO calibrateTablePWM(Date,Time,mmols,WRGBMmols,RGBMmols,WRGBMmols10K,PWM)  VALUES(\\'\"+ date + \" \\', \\' \" + time + \"\\', \\'\" + mmols + \"\\', \" + WRGBMmols + \", \" + RGBMmols + \", \"+ WRGBMmols10K + \", \"+ PWM + \")\";\n  \nreturn newMsg; \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":220,"wires":[["fa7bdbfe.f1c1f8","9ffa396c.993d78"]]},{"id":"f53acda9.5d26a","type":"link out","z":"5464091f.991b38","name":"","links":["f0370a01.ca6018"],"x":775,"y":580,"wires":[]},{"id":"f0370a01.ca6018","type":"link in","z":"5203fa5f.0fe304","name":"","links":["f53acda9.5d26a"],"x":395,"y":220,"wires":[["5d0f477.afbdfb8"]]},{"id":"fa7bdbfe.f1c1f8","type":"debug","z":"5203fa5f.0fe304","name":"CombinedSensorsPWM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":280,"wires":[]}]