Adaptalight-main/Adaptalight/Adaptalight_nodered_v1.txt
[{"id":"5464091f.991b38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2cab7ca4.3f0694","type":"serial in","z":"5464091f.991b38","name":"Arduino1","serial":"8c9d914c.5ef51","x":100,"y":40,"wires":[["4d1f5bed.ca0464"]]},{"id":"71b85f02.6d496","type":"debug","z":"5464091f.991b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"2acc52f0.93f35e","type":"comment","z":"5464091f.991b38","name":"how to connect arduino","info":"you have to give chmod 666 to /dev/USB0 to connect serial \n\nuse \nlsusb\n\nand you can also use this too\ndmesg | grep tty\n\n\n","x":180,"y":520,"wires":[]},{"id":"4d1f5bed.ca0464","type":"json","z":"5464091f.991b38","name":"","property":"payload","action":"","pretty":false,"x":290,"y":120,"wires":[["e9ea628e.6acaf","2f7e184b.fe8bd8"]]},{"id":"e9ea628e.6acaf","type":"function","z":"5464091f.991b38","name":"InsertLightsensor","func":"\nfunction appendLeadingZeroes(n){\n  if(n <= 9){\n    return \"0\" + n;\n  }\n  return n;\n}\n\nlet current_datetime = new Date();\nlet nDate = current_datetime.getFullYear() + \"-\" + appendLeadingZeroes(current_datetime.getMonth() + 1) + \"-\" + appendLeadingZeroes(current_datetime.getDate());\nlet nTime = appendLeadingZeroes(current_datetime.getHours()) + \":\" + appendLeadingZeroes(current_datetime.getMinutes()) + \":\" + appendLeadingZeroes(current_datetime.getSeconds());\nlet stringDate = \"'\"+nDate+\"'\";\nlet stringTime = \"'\"+nTime+\"'\";\n\n\n\nvar ColorTemp = msg.payload.ColorTemp;\nvar Lux = msg.payload.Lux;\nvar Red = msg.payload.Red;\nvar Green = msg.payload.Green;\nvar Blue = msg.payload.Blue;\nvar White = msg.payload.White;\n\n\nvar newMsg ={};\nnewMsg.topic = \"INSERT INTO lightsensor(Date,Time,ColorTemp,Lux,Red,Green,Blue,White) VALUES(\"+ stringDate + \", \" + stringTime + \", \" + ColorTemp + \", \" + Lux + \", \" + Red + \", \" + Green +\", \" + Blue + \", \"+ White + \")\";\n//newMsg.topic= \"INSERT INTO \\`lightsensor\\` (\\`lightsensorID\\`, \\`Date\\`, \\`Time\\`, \\`ColorTemp\\`, \\`Lux\\`, \\`Red\\`, \\`Green\\`, \\`Blue\\`, \\`White\\`) VALUES (NULL, \\'2020-10-01\\', \\'11:33:30\\', \\'52\\', \\'25\\', \\'52\\', \\'25\\', \\'52\\', \\'25\\');\";\n \nreturn newMsg;   \n    \n    \n    \n//INSERT INTO lightsensor(DateTime,ColorTemp,Lux,Red,Green,Blue,White)VALUES(2020-01-01,00:01:01,60,50,40,30,20,10)\n//\"INSERT INTO lightsensor(Date,Time,ColorTemp,Lux,Red,Green,Blue,White) VALUES(\"+ stringDate + \", \" + stringTime \", \" + ColorTemp + \", \" + Lux + \", \" + Red + \", \" + Green +\", \" + Blue + \", \"+ White + \")\" }","outputs":1,"noerr":0,"x":470,"y":60,"wires":[["c862be11.afdc2","c9967f1b.5d6078"]]},{"id":"85b10dc2.83e1f","type":"rpi-gpio out","z":"5464091f.991b38","name":"","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1020,"y":640,"wires":[]},{"id":"b299dbb9.c24c88","type":"rpi-gpio out","z":"5464091f.991b38","name":"","pin":"35","set":true,"level":"0","freq":"","out":"out","x":1020,"y":600,"wires":[]},{"id":"42777ceb.7cead4","type":"rpi-gpio out","z":"5464091f.991b38","name":"","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1020,"y":520,"wires":[]},{"id":"2edb3fbd.3ce5d","type":"rpi-gpio out","z":"5464091f.991b38","name":"","pin":"33","set":true,"level":"0","freq":"","out":"out","x":1020,"y":560,"wires":[]},{"id":"a973c18c.15f54","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":560,"wires":[["42777ceb.7cead4","2edb3fbd.3ce5d","b299dbb9.c24c88","85b10dc2.83e1f"]]},{"id":"45756386.76472c","type":"inject","z":"5464091f.991b38","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":600,"wires":[["42777ceb.7cead4","2edb3fbd.3ce5d","b299dbb9.c24c88","85b10dc2.83e1f"]]},{"id":"8a0cdd8c.33f58","type":"mqtt in","z":"5464091f.991b38","name":"","topic":"dev/test","qos":"2","datatype":"auto","broker":"32c79d39.858102","x":110,"y":220,"wires":[["113d8845.4276c"]]},{"id":"2f7e184b.fe8bd8","type":"debug","z":"5464091f.991b38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":120,"wires":[]},{"id":"113d8845.4276c","type":"json","z":"5464091f.991b38","name":"","property":"payload","action":"","pretty":false,"x":280,"y":180,"wires":[["1c95c2d1.8007fd"]]},{"id":"c9967f1b.5d6078","type":"mysql","z":"5464091f.991b38","mydb":"7f74a926.884158","name":"sensordb","x":860,"y":180,"wires":[[]]},{"id":"c862be11.afdc2","type":"debug","z":"5464091f.991b38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":80,"wires":[]},{"id":"1c95c2d1.8007fd","type":"function","z":"5464091f.991b38","name":"","func":"var date = msg.payload.date;\nvar time = msg.payload.time;\nvar mmols = msg.payload.mmol;\n\nvar newMsg = {};\n\nnewMsg.topic =  \"INSERT INTO qsensor(date,time,mmols) VALUES(\\'\"+ date + \" \\', \\' \" + time + \"\\', \\'\" + mmols + \"\\')\";\nreturn newMsg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["71b85f02.6d496","c9967f1b.5d6078"]]},{"id":"8c9d914c.5ef51","type":"serial-port","z":"","serialport":"/dev/ttyUSB1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"32c79d39.858102","type":"mqtt-broker","z":"","name":"QuantumSensor","broker":"192.168.0.150","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7f74a926.884158","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sensordb","tz":"","charset":"UTF8"}]