Adaptalight-main/Adaptalight/NodeRed-LightSide/Adaptalight_LightSide_v3.2.json
[{"id":"fd4fe1fd.0da91","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1ac7b9b.06a4346","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3b596eb9.421782","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"62132c2b.33f1e4","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"31b40f39.3e4178","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"df9d8b1b.113268","type":"mqtt-broker","name":"","broker":"192.168.0.150","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5d5850d4.1d869","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"SpectralMmolv2","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"bf2ea444.25f708","type":"serial-port","serialport":"","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"6cbfb297.db131c","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"comparingPAR","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"a12fda75.10f158","type":"mqtt in","z":"fd4fe1fd.0da91","name":"Apogee Sensor","topic":"dev/test","qos":"2","datatype":"auto","broker":"df9d8b1b.113268","x":85,"y":369,"wires":[["52996f99.930ff","43d58392.a21c1c"]]},{"id":"91c6b3c0.19e39","type":"function","z":"fd4fe1fd.0da91","name":"PWMAdjust","func":"obj = JSON.parse(msg.payload); //parses incoming payload to a JSON without the JSON node. \n\n//Then we use the object to assign to the variables below. \nvar mmols = obj.mmol;\n\n/*\nvar date = msg.payload.date;\nvar time = msg.payload.time;\nvar mmols = msg.payload.mmol;\n*/\n\nvar SetMmols = flow.get(\"SuperSetMmols\"); //this is the setting for the target mmols\nvar myPwm = flow.get(\"pwm\"); // This is the current setting for the pwm set inside \n\nif (mmols>SetMmols){ //if the current mmols are brighter than our setting\n    if (myPwm>=255) //Then test to make no number greater than 255 is sent\n        {\n        myPwm = 255; //If the number is larger it will send 255\n        flow.set(\"pwm\", myPwm);\n        }\n     else\n        {\n        myPwm = myPwm + 1; //if not then add one to the pwm \n        //myPwm++;\n        flow.set(\"pwm\", myPwm);\n        }\n}\n//if (mmols<SetMmols){\nelse{    \n    if (myPwm<=0)\n        {\n        myPwm = 0;\n        flow.set(\"pwm\", myPwm);\n        }\n    else{\n        myPwm = myPwm - 1;\n        //myPwm--;\n        flow.set(\"pwm\", myPwm);\n        }\n}\n\nvar newMsg = {};\nnewMsg.payload = myPwm;\n//Line below is for testing the output of the node\n//newMsg.payload = \"{\\\"pwm\\\":\"+ myPwm + \",\\\"SuperMmols\\\":\" + SetMmols + \",\\\"InMols\\\":\" + mmols +\"}\";\n\nreturn newMsg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":135,"y":929,"wires":[[]]},{"id":"32b6e116.c1312e","type":"change","z":"fd4fe1fd.0da91","name":"","rules":[{"t":"set","p":"pwm","pt":"flow","to":"127","tot":"num"},{"t":"set","p":"SuperSetMmols","pt":"flow","to":"200","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":120,"wires":[[]]},{"id":"80b874ef.032c78","type":"inject","z":"fd4fe1fd.0da91","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1220,"y":120,"wires":[["32b6e116.c1312e"]]},{"id":"43d58392.a21c1c","type":"debug","z":"fd4fe1fd.0da91","name":"mmols","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":130,"y":480,"wires":[]},{"id":"3ccde7e.4e55b18","type":"function","z":"fd4fe1fd.0da91","name":"FastPWM-v1","func":"obj = JSON.parse(msg.payload); //parses incoming payload to a JSON without the JSON node. \n  \n//Then we use the object to assign to the variables below. \nvar mmols = obj.mmol;\n\nvar SetMmols = flow.get(\"SuperSetMmols2\"); //this is the setting for the target mmols\nvar myPwm = flow.get(\"pwm2\"); // This is the current setting for the pwm set inside \n\nif (mmols>SetMmols)\n{ //if the current mmols are brighter than our setting\n    differingMmols = mmols - SetMmols;\n    if (myPwm<0) //if the number is less than 0 it will send 0\n        {\n        myPwm = 0; //If the number is larger it will send 0\n        flow.set(\"pwm2\", myPwm);\n        }\n    else if(differingMmols>10) //this will adjust faster\n        {// It will take every 3 pwm = 1 mmol and give a quick  adjust\n         myPwm = myPwm + 10;\n         flow.set(\"pwm2\", myPwm);\n        }\n    else //This is the normal minor adjustments. \n        {\n        myPwm = myPwm + 1; //if not then add one to the pwm \n        //myPwm++;\n        //flow.set(\"pwm\", myPwm);\n        }\n    flow.set(\"pwm2\", myPwm);\n}\n//if (mmols<SetMmols){\nelse{  // if the current mmols are dimmer than the setting\n    differingMmols = SetMmols - mmols;\n    if (myPwm>255) //Then test to make no number greater than 255 is sent\n        {\n        myPwm = 255;\n        flow.set(\"pwm2\", myPwm);\n        }\n    else if(differingMmols>10) //this will adjust faster\n        {// It will take every 3 pwm = 1 mmol and give a quick  adjust\n         myPwm = myPwm -10;\n         flow.set(\"pwm2\", myPwm);\n        }\n    else{\n        myPwm = myPwm - 1;\n        //myPwm--;\n        flow.set(\"pwm2\", myPwm);\n        }\n    flow.set(\"pwm2\", myPwm);\n}\n\nvar newMsg = {};\nnewMsg.payload = myPwm;\n//Line below is for testing the output of the node\n//newMsg.payload = \"{\\\"pwm\\\":\"+ myPwm + \",\\\"SuperMmols\\\":\" + SetMmols + \",\\\"InMols\\\":\" + mmols +\"}\";\n\nreturn newMsg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":135,"y":1009,"wires":[[]]},{"id":"25a2a359.53fb8c","type":"debug","z":"fd4fe1fd.0da91","name":"Updated PWM","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":420,"wires":[]},{"id":"5aeb022d.dd0eac","type":"function","z":"fd4fe1fd.0da91","name":"FastPWM-v0","func":"obj = JSON.parse(msg.payload); //parses incoming payload to a JSON without the JSON node. \nfunction round(value, decimals) {\n    return Number(Math.round(value+'e'+decimals)+'e-'+decimals);\n    }\n//Then we use the object to assign to the variables below. \nvar mmols = obj.mmol;\n\n/*\nvar date = msg.payload.date;\nvar time = msg.payload.time;\nvar mmols = msg.payload.mmol;\n*/\nlet differingMmols=0;\nlet tempPwmAdjust=0;\nlet roundTempPwmAdjust=0;\nvar SetMmols = flow.get(\"SuperSetMmols2\"); //this is the setting for the target mmols\nvar myPwm = flow.get(\"pwm2\"); // This is the current setting for the pwm set inside \n\nif (mmols>SetMmols){ //if the current mmols are brighter than our setting\n    differingMmols = mmols - SetMmols;\n    if (myPwm>=0) //Then test to make no number greater than 255 is sent\n        {\n        myPwm = 0; //If the number is larger it will send 255\n        flow.set(\"pwm2\", myPwm);\n        }\n    else if(differingMmols>10) //this will adjust faster\n        {// It will take every 1 pwm = 3 mmol and give a quick  adjust\n         //tempPwmAdjust = Math.round(differingMmols * 3); //this formula is off \n         //roundTempPwmAdjust = Math.round(tempPwmAdjust);\n         myPwm = myPwm +10;\n         flow.set(\"pwm2\", myPwm);\n        }\n    else //This is the normal minor adjustments. \n        {\n        myPwm = myPwm + 1; //if not then add one to the pwm \n        //myPwm++;\n        //flow.set(\"pwm\", myPwm);\n        }\n    flow.set(\"pwm2\", myPwm);\n}\n//if (mmols<SetMmols){\nelse{  // if the current mmols are dimmer than the setting\n    differingMmols = SetMmols - mmols;\n    if (myPwm<=255) //if the number is less than 0 it will send 0\n        {\n        myPwm = 255;\n       // flow.set(\"pwm\", myPwm);\n        }\n    else if(differingMmols>10) //this will adjust faster\n        {// It will take every 3 pwm = 1 mmol and give a quick  adjust\n         myPwm = myPwm -10;\n         flow.set(\"pwm2\", myPwm);\n        }\n    else{\n        myPwm = myPwm - 1;\n        //myPwm--;\n        flow.set(\"pwm2\", myPwm);\n        }\n    flow.set(\"pwm2\", myPwm);\n}\n\nvar newMsg = {};\nnewMsg.payload = myPwm;\n//Line below is for testing the output of the node\n//newMsg.payload = \"{\\\"pwm\\\":\"+ myPwm + \",\\\"SuperMmols\\\":\" + SetMmols + \",\\\"InMols\\\":\" + mmols +\"}\";\n\nreturn newMsg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":135,"y":969,"wires":[[]]},{"id":"23493402.bbfc6c","type":"function","z":"fd4fe1fd.0da91","name":"FastPWM-v2.1","func":"var obj = JSON.parse(msg.payload); //parses incoming payload to a JSON without the JSON node.\n\n//Then we use the object to assign to the variables below.\nvar mmols = obj.mmol;\n\nvar SetMmols = flow.get(\"SuperSetMmols\"); //this is the setting for the target mmols\nvar myPwm = flow.get(\"pwm\"); // This is the current setting for the pwm set inside\nlet differingMmols = 0;\n\nif (mmols>SetMmols)\n{ //if the current mmols are brighter than our setting\n    differingMmols = mmols - SetMmols;\n    if(differingMmols>10) //this will adjust faster\n        {// It will take every 3 pwm = 1 mmol and give a quick  adjust\n          myPwm = myPwm + Math.round(differingMmols * .33);\n          flow.set(\"pwm\", myPwm);\n        }\n    else //This is the normal minor adjustments.\n        {\n          myPwm = myPwm + 1; //if not then add one to the pwm\n          flow.set(\"pwm\", myPwm);\n        }\n    if (myPwm>=255) //Then test to make no number greater than 255 is sent\n        {\n          myPwm = 255; //If the number is larger it will send 255\n          flow.set(\"pwm\", myPwm);\n        }\n}\n//if (mmols<SetMmols){\nelse{  // if the current mmols are dimmer than the setting\n    differingMmols = SetMmols - mmols;\n    if(differingMmols>10) //this will adjust faster\n        {// It will take every 3 pwm = 1 mmol and give a quick  adjust\n          myPwm = myPwm - Math.round(differingMmols * .33);\n          flow.set(\"pwm\", myPwm);\n        }\n    else{\n          myPwm = myPwm - 1;\n          flow.set(\"pwm\", myPwm);\n        }\n    if (myPwm<=0)\n        {\n          myPwm = 0;\n          flow.set(\"pwm\", myPwm);\n        }\n}\n\nvar newMsg = {};\n//newMsg.payload = myPwm;\nnewMsg.payload = {pwm: myPwm};\n//Line below is for testing the output of the node\n//newMsg.payload = \"{\\\"pwm\\\":\"+ myPwm + \",\\\"SuperMmols\\\":\" + SetMmols + \",\\\"InMols\\\":\" + mmols +\"}\";\n\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":145,"y":709,"wires":[[]]},{"id":"d89f6359.6f3f1","type":"json","z":"fd4fe1fd.0da91","name":"","property":"payload","action":"","pretty":false,"x":555,"y":949,"wires":[[]]},{"id":"426f7d2b.4ac6d4","type":"mqtt in","z":"fd4fe1fd.0da91","name":"","topic":"AdafruitRaw","qos":"2","datatype":"auto","broker":"df9d8b1b.113268","x":415,"y":949,"wires":[["d89f6359.6f3f1"]]},{"id":"a8e90827.647298","type":"function","z":"fd4fe1fd.0da91","name":"FastPWM-v2","func":"obj = JSON.parse(msg.payload); //parses incoming payload to a JSON without the JSON node.\n\n//Then we use the object to assign to the variables below.\nvar mmols = obj.mmol;\n\nvar SetMmols = flow.get(\"SuperSetMmols\"); //this is the setting for the target mmols\nvar myPwm = flow.get(\"pwm\"); // This is the current setting for the pwm set inside\nlet differingMmols = 0;\n\nif (mmols>SetMmols)\n{ //if the current mmols are brighter than our setting\n    differingMmols = mmols - SetMmols;\n    if(differingMmols>10) //this will adjust faster\n        {// It will take every 3 pwm = 1 mmol and give a quick  adjust\n          myPwm = myPwm + Math.round(differingMmols * .33);\n          flow.set(\"pwm\", myPwm);\n        }\n    else //This is the normal minor adjustments.\n        {\n          myPwm = myPwm + 1; //if not then add one to the pwm\n          flow.set(\"pwm\", myPwm);\n        }\n    if (myPwm>=255) //Then test to make no number greater than 255 is sent\n        {\n          myPwm = 255; //If the number is larger it will send 255\n          flow.set(\"pwm\", myPwm);\n        }\n}\n//if (mmols<SetMmols){\nelse{  // if the current mmols are dimmer than the setting\n    differingMmols = SetMmols - mmols;\n    if(differingMmols>10) //this will adjust faster\n        {// It will take every 3 pwm = 1 mmol and give a quick  adjust\n          myPwm = myPwm - Math.round(differingMmols * .33);\n          flow.set(\"pwm\", myPwm);\n        }\n    else{\n          myPwm = myPwm - 1;\n          flow.set(\"pwm\", myPwm);\n        }\n    if (myPwm<=0)\n        {\n          myPwm = 0;\n          flow.set(\"pwm\", myPwm);\n        }\n}\n\nvar newMsg = {};\nnewMsg.payload = myPwm;\n//Line below is for testing the output of the node\n//newMsg.payload = \"{\\\"pwm\\\":\"+ myPwm + \",\\\"SuperMmols\\\":\" + SetMmols + \",\\\"InMols\\\":\" + mmols +\"}\";\n\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":135,"y":889,"wires":[[]]},{"id":"676edca3.46b0a4","type":"influxdb out","z":"fd4fe1fd.0da91","influxdb":"5d5850d4.1d869","name":"","measurement":"pwm","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":225,"y":1109,"wires":[]},{"id":"97e3e1d5.58ca4","type":"function","z":"fd4fe1fd.0da91","name":"RGBWToMmol-70K","func":"  function round(value, decimals) {\n    return Number(Math.round(value+'e'+decimals)+'e-'+decimals);\n    }\n  \n  var Red = msg.payload.Red * 1;\n  var Green = msg.payload.Green * 1;\n  var Blue = msg.payload.Blue * 1;\n  var White = msg.payload.White * 1;\n\n\n//From 10000 observations mostly Dark\nvar alpha = -1.440;\nvar redCo = 0.003;\nvar greenCo = -0.005;\nvar blueCo = 0.005;\nvar whiteCo = 0.002;\n  \n  var newMsg ={}; \nvar convertMmol = alpha-Red*redCo+Green*greenCo+Blue*blueCo+White*whiteCo;\n // var convertMmol = alpha-(Red*redCo)+(Green*greenCo)+(Blue*blueCo)+(White*whiteCo);\n  var roundMmol = round(convertMmol, 1);\n  \n  newMsg.topic = \"WRGBMmol70k\"                                                                                \n  newMsg.payload = {WRGBMmol70k: roundMmol};\n  \n  //newMsg.payload = \"{\\\"WRGBMmol70k\\\":\"+ roundMmol + \"}\";\n  return newMsg;   \n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":775,"y":949,"wires":[[]]},{"id":"3e1dcb4b.0f2d54","type":"serial in","z":"fd4fe1fd.0da91","name":"LightSide AS7265x","serial":"62132c2b.33f1e4","x":95,"y":309,"wires":[["1b14923a.fceb8e"]]},{"id":"a62c63e2.3ec38","type":"debug","z":"fd4fe1fd.0da91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":140,"wires":[]},{"id":"1b14923a.fceb8e","type":"json","z":"fd4fe1fd.0da91","name":"","property":"payload","action":"","pretty":false,"x":255,"y":309,"wires":[["16403b4.32247c5","97671091.9c04e","3312c68a.07a66a"]]},{"id":"b150696f.86ce78","type":"comment","z":"fd4fe1fd.0da91","name":"Dimmer Algorithms","info":"","x":155,"y":849,"wires":[]},{"id":"707b417e.81ece","type":"comment","z":"fd4fe1fd.0da91","name":"MQTT TCS34725 Inputs from Main System","info":"These are the inputs that were coming for the TCS34725...","x":505,"y":849,"wires":[]},{"id":"36d91230.e7628e","type":"comment","z":"fd4fe1fd.0da91","name":"LightSide AS7265x","info":"This is the connection to the sensor that will only have the light and the mmols ","x":95,"y":269,"wires":[]},{"id":"52996f99.930ff","type":"json","z":"fd4fe1fd.0da91","name":"","property":"payload","action":"","pretty":false,"x":255,"y":369,"wires":[["16403b4.32247c5","fa0709c8.6a3c88"]]},{"id":"16403b4.32247c5","type":"join","z":"fd4fe1fd.0da91","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"21","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":340,"wires":[["8307563b.791a78"]]},{"id":"9a6e6425.2bafc8","type":"influxdb out","z":"fd4fe1fd.0da91","influxdb":"5d5850d4.1d869","name":"Light Side S-to-M","measurement":"LightSideSpectralMmol","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1010,"y":340,"wires":[]},{"id":"8307563b.791a78","type":"function","z":"fd4fe1fd.0da91","name":"SpectralFloatConvert","func":"let $410nm=msg.payload[\"410nm\"];\nlet $435nm=msg.payload[\"435nm\"];\nlet $460nm=msg.payload[\"460nm\"];\nlet $485nm=msg.payload[\"485nm\"];\nlet $510nm=msg.payload[\"510nm\"];\nlet $535nm=msg.payload[\"535nm\"];\nlet $560nm=msg.payload[\"560nm\"];\nlet $585nm=msg.payload[\"585nm\"];\nlet $610nm=msg.payload[\"610nm\"];\nlet $645nm=msg.payload[\"645nm\"];\nlet $680nm=msg.payload[\"680nm\"];\nlet $705nm=msg.payload[\"705nm\"];\nlet $730nm=msg.payload[\"730nm\"];\nlet $760nm=msg.payload[\"760nm\"];\nlet $810nm=msg.payload[\"810nm\"];\nlet $860nm=msg.payload[\"860nm\"];\nlet $900nm=msg.payload[\"900nm\"];\nlet $940nm=msg.payload[\"940nm\"];\nlet $date=msg.payload[\"date\"];\nlet $time=msg.payload[\"time\"];\nlet $mmol=msg.payload[\"mmol\"];\n\n$410nm=$410nm*1;\n$435nm=$435nm*1;\n$460nm=$460nm*1;\n$485nm=$485nm*1;\n$510nm=$510nm*1;\n$535nm=$535nm*1;\n$560nm=$560nm*1;\n$585nm=$585nm*1;\n$610nm=$610nm*1;\n$645nm=$645nm*1;\n$680nm=$680nm*1;\n$705nm=$705nm*1;\n$730nm=$730nm*1;\n$760nm=$760nm*1;\n$810nm=$810nm*1;\n$860nm=$860nm*1;\n$900nm=$900nm*1;\n$940nm=$940nm*1;\n\n\n\nvar newMsg={};\nnewMsg.payload = {\n                nm410:$410nm,\n                nm435:$435nm,\n                nm460:$460nm,\n                nm485:$485nm,\n                nm510:$510nm,\n                nm535:$535nm,\n                nm560:$560nm,\n                nm585:$585nm,\n                nm610:$610nm,\n                nm645:$645nm,\n                nm680:$680nm,\n                nm705:$705nm,\n                nm730:$730nm,\n                nm760:$760nm,\n                nm810:$810nm,\n                nm860:$860nm,\n                nm900:$900nm,\n                nm940:$940nm,\n                mmol:$mmol,\n                //date: $date,\n                //time: $time\n                    };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":340,"wires":[["25a2a359.53fb8c","9a6e6425.2bafc8"]]},{"id":"57612afa.5b4584","type":"function","z":"fd4fe1fd.0da91","name":"filterOutDateTime","func":"let $date=msg.payload[\"date\"];\nlet $time=msg.payload[\"time\"];\nlet $PWM=msg.payload[\"PWM\"];\nlet $predictedMmol705=msg.payload[\"predictedMmol705\"];\nlet $predictedMmol940=msg.payload[\"predictedMmol940\"];\nlet $mmol=msg.payload[\"mmol\"];\n\n\n\nvar newMsg={};\nnewMsg.payload = {\n               // PWM:$PWM,\n                predictedMmol705:$predictedMmol705,\n                predictedMmol940:$predictedMmol940,\n                mmol:$mmol\n                //date: $date,\n                //time: $time\n                    };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":260,"wires":[["a62c63e2.3ec38","766c8c19.2714f4"]]},{"id":"1ed882b7.57603d","type":"comment","z":"fd4fe1fd.0da91","name":"Old Databased Connections","info":"","x":185,"y":1069,"wires":[]},{"id":"97671091.9c04e","type":"function","z":"fd4fe1fd.0da91","name":"LED-PreMmol-705","func":"function round(value, decimals) {\n  return Number(Math.round(value+'e'+decimals)+'e-'+decimals);\n  }\n \n//Coefficients from the linear regression model\nvar alpha=0.171;\nvar $410nmCo=0.449;\nvar $435nmCo=-0.086;\nvar $460nmCo=0.007;\nvar $485nmCo=-0.005;\nvar $510nmCo=-0.116;\nvar $535nmCo=0.103;\nvar $560nmCo=0.096;\nvar $585nmCo=-0.129;\nvar $610nmCo=0.024;\nvar $645nmCo=0.044;\nvar $680nmCo=0.074;\nvar $705nmCo=-0.303;\n\n\n//\n \n//Data coming from sensor\nlet $410nm=msg.payload[\"410nm\"];\nlet $435nm=msg.payload[\"435nm\"];\nlet $460nm=msg.payload[\"460nm\"];\nlet $485nm=msg.payload[\"485nm\"];\nlet $510nm=msg.payload[\"510nm\"];\nlet $535nm=msg.payload[\"535nm\"];\nlet $560nm=msg.payload[\"560nm\"];\nlet $585nm=msg.payload[\"585nm\"];\nlet $610nm=msg.payload[\"610nm\"];\nlet $645nm=msg.payload[\"645nm\"];\nlet $680nm=msg.payload[\"680nm\"];\nlet $705nm=msg.payload[\"705nm\"];\n\n\n \n\n//Y = A + BX linear regression equation below. \n//All of them\nvar convertMmol = alpha                \n                +($410nmCo*$410nm)\n                +($435nmCo*$435nm)\n                +($460nmCo*$460nm)\n                +($485nmCo*$485nm)\n                +($510nmCo*$510nm)\n                +($535nmCo*$535nm)\n                +($560nmCo*$560nm)\n                +($585nmCo*$585nm)\n                +($610nmCo*$610nm)\n                +($645nmCo*$645nm)\n                +($680nmCo*$680nm)\n                +($705nmCo*$705nm);\n\nvar roundMmol = round(convertMmol, 1);\n \nvar newMsg ={};\nnewMsg.topic = \"predictedMmol705\"\nnewMsg.payload = {predictedMmol705:roundMmol};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":220,"wires":[["5b77523e.c60eac","fa0709c8.6a3c88"]]},{"id":"5b77523e.c60eac","type":"debug","z":"fd4fe1fd.0da91","name":"705-Pre","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":180,"wires":[]},{"id":"64f1eacf.db4f94","type":"function","z":"fd4fe1fd.0da91","name":"SpectralAsString","func":"let $410nm=msg.payload[\"410nm\"];\nlet $435nm=msg.payload[\"435nm\"];\nlet $460nm=msg.payload[\"460nm\"];\nlet $485nm=msg.payload[\"485nm\"];\nlet $510nm=msg.payload[\"510nm\"];\nlet $535nm=msg.payload[\"535nm\"];\nlet $560nm=msg.payload[\"560nm\"];\nlet $585nm=msg.payload[\"585nm\"];\nlet $610nm=msg.payload[\"610nm\"];\nlet $645nm=msg.payload[\"645nm\"];\nlet $680nm=msg.payload[\"680nm\"];\nlet $705nm=msg.payload[\"705nm\"];\nlet $730nm=msg.payload[\"730nm\"];\nlet $760nm=msg.payload[\"760nm\"];\nlet $810nm=msg.payload[\"810nm\"];\nlet $860nm=msg.payload[\"860nm\"];\nlet $900nm=msg.payload[\"900nm\"];\nlet $940nm=msg.payload[\"940nm\"];\nlet $date=msg.payload[\"date\"];\nlet $time=msg.payload[\"time\"];\nlet $mmol=msg.payload[\"mmol\"];\n\n\n\n\nvar newMsg={};\nnewMsg.payload = {\n                nm410:$410nm,\n                nm435:$435nm,\n                nm460:$460nm,\n                nm485:$485nm,\n                nm510:$510nm,\n                nm535:$535nm,\n                nm560:$560nm,\n                nm585:$585nm,\n                nm610:$610nm,\n                nm645:$645nm,\n                nm680:$680nm,\n                nm705:$705nm,\n                nm730:$730nm,\n                nm760:$760nm,\n                nm810:$810nm,\n                nm860:$860nm,\n                nm900:$900nm,\n                nm940:$940nm,\n                mmol:$mmol,\n                //date: $date,\n                //time: $time\n                    };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":1000,"wires":[[]]},{"id":"fa0709c8.6a3c88","type":"join","z":"fd4fe1fd.0da91","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":260,"wires":[["57612afa.5b4584"]]},{"id":"3312c68a.07a66a","type":"function","z":"fd4fe1fd.0da91","name":"LED-PreMmol-940","func":"function round(value, decimals) {\n  return Number(Math.round(value+'e'+decimals)+'e-'+decimals);\n  }\n \n//Coefficients from the linear regression model\nvar alpha=0.417;\nvar $410nmCo=0.833;\nvar $435nmCo=-0.015;\nvar $460nmCo=0.008;\nvar $485nmCo=-0.037;\nvar $510nmCo=0.064;\nvar $535nmCo=-0.07;\nvar $560nmCo=0.033;\nvar $585nmCo=-0.036;\nvar $610nmCo=0.009;\nvar $645nmCo=0.008;\nvar $680nmCo=0.069;\nvar $705nmCo=-0.235;\nvar $730nmCo=0.135;\nvar $760nmCo=-0.06;\nvar $810nmCo=-0.657;\nvar $860nmCo=0.721;\nvar $900nmCo=-0.446;\nvar $940nmCo=-0.244;\n\n//\n \n//Data coming from sensor\nlet $410nm=msg.payload[\"410nm\"];\nlet $435nm=msg.payload[\"435nm\"];\nlet $460nm=msg.payload[\"460nm\"];\nlet $485nm=msg.payload[\"485nm\"];\nlet $510nm=msg.payload[\"510nm\"];\nlet $535nm=msg.payload[\"535nm\"];\nlet $560nm=msg.payload[\"560nm\"];\nlet $585nm=msg.payload[\"585nm\"];\nlet $610nm=msg.payload[\"610nm\"];\nlet $645nm=msg.payload[\"645nm\"];\nlet $680nm=msg.payload[\"680nm\"];\nlet $705nm=msg.payload[\"705nm\"];\nlet $730nm=msg.payload[\"730nm\"];\nlet $760nm=msg.payload[\"760nm\"];\nlet $810nm=msg.payload[\"810nm\"];\nlet $860nm=msg.payload[\"860nm\"];\nlet $900nm=msg.payload[\"900nm\"];\nlet $940nm=msg.payload[\"940nm\"];\n\n/* Not sure if I need this, it makes all of them float data types.\n$410nm=$410nm*1;\n$435nm=$435nm*1;\n$460nm=$460nm*1;\n$485nm=$485nm*1;\n$510nm=$510nm*1;\n$535nm=$535nm*1;\n$560nm=$560nm*1;\n$585nm=$585nm*1;\n$610nm=$610nm*1;\n$645nm=$645nm*1;\n$680nm=$680nm*1;\n$705nm=$705nm*1;\n$730nm=$730nm*1;\n$760nm=$760nm*1;\n$810nm=$810nm*1;\n$860nm=$860nm*1;\n$900nm=$900nm*1;\n$940nm=$940nm*1;\n*/\n\n//Y = A + BX linear regression equation below. \n//All of them\nvar convertMmol = alpha+($705nmCo*$705nm)+($535nmCo*$535nm)+($510nmCo*$510nm)+($940nmCo*$940nm)+($860nmCo*$860nm)+($560nmCo*$560nm)+($460nmCo*$460nm)+($410nmCo*$410nm)+($760nmCo*$760nm)+($645nmCo*$645nm)+($585nmCo*$585nm)+($485nmCo*$485nm)+($730nmCo*$730nm)+($810nmCo*$810nm)+($610nmCo*$610nm)+($435nmCo*$435nm)+($680nmCo*$680nm)+($900nmCo*$900nm);\n\nvar roundMmol = round(convertMmol, 1);\n\nvar newMsg ={};\nnewMsg.topic = \"predictedMmol940\"\nnewMsg.payload = {predictedMmol940:roundMmol};\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":180,"wires":[["622c9246.d40d4c","fa0709c8.6a3c88"]]},{"id":"622c9246.d40d4c","type":"debug","z":"fd4fe1fd.0da91","name":"940-Pre","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":100,"wires":[]},{"id":"766c8c19.2714f4","type":"influxdb out","z":"fd4fe1fd.0da91","influxdb":"5d5850d4.1d869","name":"Light Side P-to-M","measurement":"LightSidePredictedMmol","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1010,"y":260,"wires":[]}]